<!doctype html>
<html lang="en">
    <head></head>
    <body class="dark-vertion black-bg">
        <app-nav-bar></app-nav-bar>
        <app-portada></app-portada>
        
        <section class="mh-blog">
            <div class="container">
                <div class="row section-separator">
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-sm-12 col-md-12">
                                <div class="mh-blog-item dark-bg blog-single">
                                    <img src="assets/images/home-bg-img.jpg" alt="" class="img-fluid">
                                    <div class="blog-inner">
                                        <h2><a href="">A life without the daily traffic jams</a></h2>
                                        <div class="mh-blog-post-info">
                                            <ul>
                                                <li><strong>Post On</strong><a href="">24.11.19</a></li>
                                                <li><strong>By</strong><a href="">ThemeSpiders</a></li>
                                            </ul>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 ">
                                <div class="row mh-related-post">
                                    <div class="mh-blog-next-prev-post col-md-6 text-left">
                                        <a href=""><i class="fa fa-angle-left"></i> Lorem Ipsum Dolor</a>
                                    </div>                                
                                    <div class="mh-blog-next-prev-post col-md-6 text-right">
                                        <a href="">Lorem Ipsum Dolor <i class="fa fa-angle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Comments-->
                            
                        </div>
                    </div>
                    
                    
                    <!-- SIDEBAR -->
                    <div class="mh-blog-sidebar">
                        <div class="sidebar-item mh-author-info">
                            <div class="mh-author-img">
                                <div class="img-border">
                                    <img src="../../../assets/images/yo-portada3_opt.png" alt="" class="img-fluid">
                                </div>
                            </div>
                            <h2>Maximiliano Morero</h2>
                            <h4>Sr Software Engineer</h4>
                            <ul class="social-icon">
                                <app-social></app-social>
                            </ul>
                        </div>
                    </div>
                
                    
                </div>
            </div>
        </section>       
        <app-footer></app-footer>
    </body>
</html>